html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.container {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
}  

